<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="network" xsi:type="Network" address="udp://127.0.0.1:9999" layout="${counter}~CLIENT~${level}~${date}~${logger}~${message}~TraceId${counter}"/>
      <target name="console" xsi:type="Console" layout="${date} ${message}"/>
    </targets>

    <rules>
      <logger name="udp" minLevel="Debug" writeTo="network"/>
      <logger name="status" minLevel="Debug" writeTo="console"/>
    </rules>
  </nlog>  
  
</configuration>